pm4py==2.7.2
psutil==5.9.5
requests
pyvis
jsonschema
workalendar
scikit-learn
polars
openai
pyemd
pydub
pygame
pygetwindow
pynput
numpy
pandas
deprecation
networkx
plotly
spacy
PyPDF2
statsmodels>=0.14.0
r2r
asyncpg
supabase
pydot
pandas
numpy
matplotlib
seaborn
openai
azure.identity
azure-ai-inference
kaleido
pydantic
python-multipart
airbyte-cdk
airbyte

