airbyte
airbyte-cdk
asyncpg
azure-ai-inference
azure.identity
deprecation
jsonschema
kaleido
matplotlib
networkx
numpy
openai
pandas
plotly
pm4py==2.7.2
polars
psutil==5.9.5
pydot
pyemd
pygame
pygetwindow
pydub
pydantic
PyPDF2
python-multipart
pyvis
r2r
requests
scikit-learn
seaborn
spacy
statsmodels>=0.14.0
supabase
workalendar
